{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
{% endblock %}

{% block title %}
    Réinitialisation de mot de passe
{% endblock %}

{% block body %}
    <div class="ethereal-bg"></div>
    <div class="decorative-blob-1"></div>
    <div class="decorative-blob-2"></div>

    <main class="main-content">
        <div class="login-card">
            <div class="card-header">
                <h1 class="card-title"> Réinitialisation de mot de passe</h1>
            </div>
            {{ form_start(requestPassForm, {'attr': {'class': 'login-form'}}) }}
            <div class="form-group">
                <label for="{{ field_id(requestPassForm.email) }}">{{ field_label(requestPassForm.email) }}</label>
                <div class="input-wrapper">
                    {#                {{ form_row(requestPassForm.email, {'attr': {'class': 'form-input'}}) }} #}
                    <input id="{{ field_id(requestPassForm.email) }}" name="{{ field_name(requestPassForm.email) }}"
                           placeholder="votre@email.com" class="form-input">
                    <span class="material-symbols-outlined input-icon">alternate_email</span>
                </div>
            </div>
            {{ form_errors(requestPassForm) }}

            <button class="btn-submit" type="submit">Envoyer</button>
            {{ form_end(requestPassForm) }}
        </div>
    </main>
{% endblock %}
