{% for v in ville %}

    <tr>
        <td class="event-name">
            {{ v.nom }}
        </td>
        <td>
            {{ v.codePostal }}
        </td>
        <td class="actions-cell">
            <a class="action-link"
               href="{{ path('api_villes_update', {'id': v.id}) }}">Modifier</a>
            <a class="action-link"
               href="{{ path('api_villes_delete', {'id': v.id}) }}">Supprimer</a>

        </td>
    </tr>

{% endfor %}

{#TODO faire des cases vides pour ajouter une ville#}

{{ form_start(villeForm2) }}
<tr>
    <td>{{ form_row(villeForm2.nom , {'attr': {'class': 'input-field'}}) }}</td>
    <td>{{ form_row(villeForm2.codePostal, {'attr': {'class': 'input-field'}}) }}</td>
    <td class="actions-cell">

        <button type="submit" class="action-link">Ajouter</button>
    </td>
</tr>
{{ form_end(villeForm2) }}

