{% extends 'base.html.twig' %}
{% block title %}
    Détails - {{ participant.username }}
{% endblock %}

{% block body %}
    <h2>{{ participant.username }}</h2>
    <div>
        <div>
            <img src="{{ asset('images/profil/'~participant.photo) }}" alt="{{ participant.username }}">
        </div>
        <div>Prénom : {{ participant.prenom }}</div>
        <div>Nom : {{ participant.nom }}</div>
        <div>Télephone : {{ participant.tel }}</div>
        <div>Email : {{ participant.email }}</div>
        <div>Campus : {{ participant.campus.nom }}</div>
    </div>
    <div><a href="{{ path('sortie_list') }}">Retour</a></div>
{% endblock %}

