<!-- TopNavBar -->
<nav class="top-navbar">
    <div class="navbar-content">
        <div class="nav-left">

            <a class="brand-logo" href="{{ path('main_home') }}">
                {#        <img alt="ENI'Where Logo" class="logo-img" #}
                {#             src="{{ asset('images/logo.png') }}"/> #}
                <span class="logo-text">ENI'Where</span>
            </a>

            <div class="nav-links">
                <a class="{{ app.request.attributes.get('_route') == 'main_home' ? 'active' }}"
                   href="{{ path('main_home') }}">Accueil</a>
                {% if app.user %}
                    <a class="{{ app.request.attributes.get('_route') == 'sortie_list' ? 'active' }}"
                       href="{{ path('sortie_list') }}">Liste des sorties</a>

                    <a class="{{ app.request.attributes.get('_route') == 'participant_update' ? 'active' }}"
                       href="{{ path('participant_update') }}">Modifier mon profil</a>

                    {% if is_granted("ROLE_ADMIN") %}
                        <a class="{{ app.request.attributes.get('_route') == 'admin_villes_list' ? 'active' }}"
                           href="{{ path('admin_villes_list') }}">Gérer les villes</a>
                        <a class="{{ app.request.attributes.get('_route') == 'admin_campus_list' ? 'active' }}"
                           href="{{ path('admin_campus_list') }}">Gérer les campus</a>
                        <a class="{{ app.request.attributes.get('_route') == 'admin_app_new' ? 'active' }}"
                           href="{{ path('admin_app_new') }}">Gérer les utilisateurs</a>
                        <a class="{{ app.request.attributes.get('_route') == 'app_logout' ? 'active' }}"
                           href="{{ path('app_logout') }}">Logout</a>
                    {% endif %}

                {% else %}
                    <a class="{{ app.request.attributes.get('_route') == 'app_login' ? 'active' }}"
                       href="{{ path('app_login') }}">Login</a>
                {% endif %}
            </div>
        </div>
        <div class="nav-right">
            <button class="icon-btn">
                <span class="material-symbols-outlined">notifications</span>
            </button>
            <div class="user-profile">
                <span class="material-symbols-outlined">account_circle</span>
                <span class="user-name">Admin</span>
            </div>
        </div>
    </div>
</nav>
<div class="nav-actions">
    <button class="btn-create">Create event</button>
</div>
