<!-- TopNavBar -->
<nav class="top-navbar">
    <div class="navbar-content">
        <div class="nav-left">

            <a class="brand-logo" href="{{ path('sortie_list') }}">
                {#        <img alt="ENI'Where Logo" class="logo-img" #}
                {#             src="{{ asset('images/logo.png') }}"/> #}
                <span class="logo-text">ENI'Where</span>
            </a>

            <div class="nav-links">

                {% if app.user %}
                    <a class="{{ app.request.attributes.get('_route') == 'sortie_list' ? 'active' }}"
                       href="{{ path('sortie_list') }}">Accueil - Liste des sorties</a>
                    <a class="{{ app.request.attributes.get('_route') == 'participant_update' ? 'active' }}"
                       href="{{ path('participant_update') }}">Modifier mon profil</a>

                    {% if is_granted("ROLE_ADMIN") %}
                        <a class="{{ app.request.attributes.get('_route') == 'admin_villes_list' ? 'active' }}"
                           href="{{ path('admin_villes_list') }}">Gérer les villes</a>
                        <a class="{{ app.request.attributes.get('_route') == 'admin_campus_list' ? 'active' }}"
                           href="{{ path('admin_campus_list') }}">Gérer les campus</a>
                        <a class="{{ app.request.attributes.get('_route') == 'admin_manage_user' ? 'active' }}"
                           href="{{ path('admin_manage_user') }}">Gérer les utilisateurs</a>
                    {% endif %}

                {% else %}
                    <a class="{{ app.request.attributes.get('_route') == 'main_home' ? 'active' }}"
                             href="{{ path('main_home') }}">Accueil</a>
                    <a class="{{ app.request.attributes.get('_route') == 'app_login' ? 'active' }}"
                       href="{{ path('app_login') }}">Se connecter</a>
                {% endif %}
            </div>

        </div>

        <div class="nav-right">
            {% if app.user %}
                <div class="nav-actions">
                    <a class="btn btn-gradient mobile-hidden"
                       href="{{ path('sortie_create') }}">Créer une sortie
                    </a>
                </div>
                <a href="{{ path('app_logout') }}" class=" icon-btn"
                   style="display: flex; align-items: center; gap: 0.5rem; padding: 0.5rem 1rem; color: var(--primary); text-decoration: none; font-weight: 700; font-size: 0.875rem;">
                    <span class="material-symbols-outlined">logout</span>
                    <span>Se déconnecter</span>
                </a>
                <a class="user-profile" href="{{ path('participant_update') }}">
                    <span class=" material-symbols-outlined">account_circle</span>
                    <span class="user-name">{{ app.user.username }}</span>
                </a>
            {% endif %}
        </div>
    </div>
</nav>
