<!-- Main Navigation Bar -->
<div class="nav-bar">
    <a class="logo-container" href="{{path('main_home')}}">
        <img alt="ENI'Where Logo" class="logo-img"
             src="{{ asset('images/logo.png') }}"/>
        <span class="logo-text">ENI'Where</span>
    </a>
    <nav class="nav-links">

        <a class="{{ app.request.attributes.get('_route') == 'main_home' ? 'active' }}"
           href="{{ path('main_home') }}">Accueil</a>
        <a class="{{ app.request.attributes.get('_route') == 'sortie_list' ? 'active' }}"
           href="{{ path('sortie_list') }}">Liste des sorties</a>
        {% if app.user %}
        <a class="{{ app.request.attributes.get('_route') == 'app_logout' ? 'active' }}"
           href="{{ path('app_logout') }}">Logout</a>
        <a class="{{ app.request.attributes.get('_route') == 'participant_update' ? 'active' }}"
           href="{{ path('participant_update') }}">Modifier mon profil</a>
       {% else %}
        <a class="{{ app.request.attributes.get('_route') == 'app_login' ? 'active' }}"
           href="{{ path('app_login') }}">Login</a>
        {% endif %}
    </nav>
</div>
<div class="nav-actions">
    <button class="btn-create">Create event</button>
    <button class="icon-btn">
        <span class="material-symbols-outlined">notifications</span>
    </button>
    <button class="icon-btn">
        <span class="material-symbols-outlined">account_circle</span>
    </button>
</div>
