{% extends 'base.html.twig' %}
{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <h1>Gestion des utilisateurs</h1>

    {% for message in app.flashes('success') %}
        <div>{{ message }}</div>
    {% endfor %}

    <table>
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
            <th>État</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>
                    <a href="{{ path('participant_profil', {'id': participant.id}) }}">{{ participant.username }}</a>
                </td>
                <td>
                    <a href="{{ path('participant_profil', {'id': participant.id}) }}">{{ participant.prenom }} {{ participant.nom }}</a>
                </td>
                <td>
                    {% if participant.isActif() %}
                        Actif
                    {% else %}
                        Inactif
                    {% endif %}
                </td>
                <td>
                    {% if participant.isActif() %}
                        <form method="post" style="display: inline;">
                            <input type="hidden" name="action" value="inactive">
                            <input type="hidden" name="id" value="{{ participant.id }}">
                            <button type="submit">Désactiver</button>
                        </form>
                    {% else %}
                        <form method="post" style="display: inline;">
                            <input type="hidden" name="action" value="activate">
                            <input type="hidden" name="id" value="{{ participant.id }}">
                            <button type="submit">Activer</button>
                        </form>
                    {% endif %}
                    <form method="post" style="display: inline;" onsubmit="return confirm('Supprimer définitivement l\'utilisateur ainsi que ses sorties et supprimez toutes ses participations ?')">
                        <input type="hidden" name="action" value="delete">
                        <input type="hidden" name="id" value="{{ participant.id }}">
                        <button type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="4">Aucun participant</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
