{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Annulation de sortie
{% endblock %}

{% block body %}
    <h2>test</h2>
    <div>
        Sortie : {{ sortie.nom }}
    </div>
    <div>
        Date : {{ sortie.dateHeureDebut | date ('d/m/Y')}}
    </div>

    <div>
        Campus : {{ sortie.campus.nom }}
    </div>
    <div>
        Lieu : {{ sortie.lieu.nom }}
    </div>

    <div>
        {{ form_start(cancelSortieForm) }}
        {{ form_widget(cancelSortieForm) }}
        <button>Enregistrer</button>
        {{ form_end(cancelSortieForm) }}
    </div>

   <a href="{{ path('main_home') }}">Annuler</a>


{% endblock %}

