{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Création de sortie
{% endblock %}

{% block body %}
    <h2>Créer une sortie</h2>
    {{ form_start(sortieForm, {'attr': {'class': 'event-form'}}) }}

    {% embed 'views/form/template-form-sortie.html.twig' %}
    {% endembed %}

    {{ form_end(sortieForm) }}
{% endblock %}

{% block bonusjavascripts %}
    <script>
        const URL_PREFIX = "{{ path('api_villes_retrieve_all') }}"
    </script>
    <script defer
            src="{{ asset('js/apiVilleEtLieux.js') }}"></script>
    <script defer
            src="{{ asset('js/controleDatesJS.js') }}"></script>
{% endblock %}
