{% form_theme sortieForm 'views/form/form-theme.html.twig' %}

<h2>
    {% block formTitle %}
    {% endblock %}
</h2>
<div>
    {{ form_row(sortieForm.nom) }}
    {{ form_row(sortieForm.dateHeureDebut) }}
    {{ form_row(sortieForm.dateLimiteInscription) }}
    {{ form_row(sortieForm.duree) }}
    {{ form_row(sortieForm.nbPlaces) }}
    {{ form_row(sortieForm.description) }}
    {{ form_row(sortieForm.campus) }}
    {{ form_row(sortieForm.villes) }}
    {{ form_row(sortieForm.lieu) }}
    {{ form_row(sortieForm.lieu2) }}
</div>
<div>

    <button type="submit"
            class="btn-primary">Enregistrer brouillon
    </button>

    {{ form_row(sortieForm.publier) }}

    <a href="{{ path('sortie_list') }}"
       class="btn-cancel">Annuler</a>

    <a href="#"
       id="mask"
       class="btn-lieu">
        Ajouter un lieu
    </a>

</div>

