{% form_theme sortieForm 'views/form/form-theme.html.twig' %}

<h2>
    {% block formTitle %}
    {% endblock %}
</h2>
{{ form_start(sortieForm) }}
{{ form_widget(sortieForm) }}

    <button>
        {% block buttonLabel %}
        {% endblock %}
    </button>
<a href="{{ path('main_home') }}">Annuler</a>





{#LIEN CADUQUE 6 ITERATION 1#}
{#<a href="{{ path('lieu_create') }}">Ajouter un lieu</a>#}

{{ form_end(sortieForm) }}
