{% form_theme sortieForm 'views/form/form-theme.html.twig' %}

<h2>
    {% block formTitle %}
    {% endblock %}
</h2>
<div class="form-group-list">
    {{ form_row(sortieForm.nom) }}
    <div class="input-row">
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
    </div>
    <div class="input-row">
        {{ form_row(sortieForm.nbPlaces) }}
        {{ form_row(sortieForm.duree) }}
    </div>
    {{ form_row(sortieForm.description) }}
</div>
