{% form_theme form 'views/form/form-search-theme.html.twig' %}

<section class="search-section">
    <h2><span class="material-symbols-outlined">filter_list</span>{% block formTitle %}{% endblock %}</h2>

    {{ form_start(form) }}
    <div class="filter-grid">
        <div class="field-group">
            {{ form_label(form.nom) }}
            <div class="input-wrapper">
                {{ form_widget(form.nom, {'attr': {'class': 'input-field'}}) }}
                <span class="material-symbols-outlined">search</span>
            </div>
            {{ form_errors(form.nom) }}
        </div>
        <div class="field-group">
            {{ form_row(form.campus) }}
        </div>
        <div class="date-range">
            <div class="field-group">
                {{ form_row(form.dateHeureDebut) }}
            </div>
            <div class="field-group">
                {{ form_row(form.dateHeureFin) }}
            </div>
        </div>
    </div>

    <div class="checkbox-group">
        <label class="checkbox-label">
            {{ form_widget(form.organisateur) }}
            {{ form_label(form.organisateur) }}
        </label>
        <label class="checkbox-label">
            {{ form_widget(form.inscrit) }}
            {{ form_label(form.inscrit) }}
        </label>
        <label class="checkbox-label">
            {{ form_widget(form.pasInscrit) }}
            {{ form_label(form.pasInscrit) }}
        </label>
        <label class="checkbox-label">
            {{ form_widget(form.sortiesPassees) }}
            {{ form_label(form.sortiesPassees) }}
        </label>
        <button>{% block buttonLabel %}{% endblock %}</button>
    </div>
    <p class="sortie-length"><span id="nbSortiesTrouvees">{% block sortieLength %}{% endblock %}</span> sorties trouvées
    </p>


    {{ form_end(form) }}
</section>
